/* ---------- menu -------------- */

ul#menu { 
	width: 100%; 
	height: 43px; 
	background: #FFF url("../img/menu-bg.gif") top left repeat-x; 
	font-size: 0.8em; 
	font-family: "Lucida Grande", Verdana, sans-serif; 
	font-weight: bold; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

ul#menu li { 
	display: block; 
	float: left; 
	margin: 0 0 0 5px; 
}

ul#menu li a { 
	height: 35px; 
	color: #777; 
	text-decoration: none; 
	display: block; 
	float: left; 
	line-height: 200%; 
	padding: 8px 15px 0; 
}

ul#menu li a:hover { 
	color: #333; 
}

ul#menu li a.current{ 
	padding: 40px;
	color: #FFF; 
	background: #FFF url("../img/current-bg.gif") top left repeat-x; 
	padding: 5px 15px 0; 
}

/* ---------- global -------------- */
div#container {
	font-family: "Lucida Grande", Verdana, sans-serif;
}

/* ---------- links -------------- */
a {
	color: black;
}

a:hover {
	color: #555555;
}

/* ---------- banner -------------- */
div#banner h1 {
	margin-right: 2em;
	text-shadow: black;
	font-family: "Lucida Grande", Verdana, sans-serif;
}

div#banner class {
	//margin: -5px;
}

/* ---------- footer -------------- */
div#footer {
	font-size: x-small;
	padding: 2px;
}

/* ---------- right -------------- */
div#login {
	font-size: small;
}

div#login div.error {
	font-size: x-small;
	color: #8c0000;
}

/* ---------- content -------------- */
div#content h1 {
	font-size: 14px;
	font-family: monospace;
}

div#content {
	font-size: 11px;
}

div#content label {
	display: inline-block;
	min-width: 6em;
}

div#content div#nav {
	text-align: center;
}

div#content div#nav a{
	text-decoration: none;
	color: navy;
}

div#content .post {
	border: 1px solid #a7e54b; 
	border-radius: 3px;
	margin-top: 2em;
	padding-bottom: 1em;
}

div#content .post_title {
	font-weight: bold;
	background-color: #a7e54b;
	padding: 3px 10px;
}

div#content .post_content {
	padding: 3px 10px;
}

div#content .post .post_title > .exit {
	display: none;
	float: right;
	margin-top: -3px;
}

div#content .post:hover .post_title > .exit {
	display: block;
}

div#content .post_files, div#content .post_links, div#content .post_images {
	padding-left: 30px;
}

div#content h2 {
	font-size: 11px;
}

div#content .post_comments {
	padding-left: 30px;
}

div#content .comment {
	margin: 10px 0px;
	margin-right: 5px;
	border: 1px solid #b6e570;
	border-radius: 3px;
}

input.submit{
	margin-left: 0.5em;
	vertical-align: super;
}

div#content .comment:hover .exit {
	display: block;
}

div#content .comment:hover .exit a{
	text-decoration: none;
}

div#content .comment .exit {
	float:right;
	display: none;
}

div#content .post_comments .comment_name {
	font-weight: bold;
	background-color: #c5e595;
	padding: 1px 3px;
}

div#content .post_comments .comment_text {
	padding: 1px 3px;
}

div#content table {
	margin-left: auto;
	margin-right: auto;
}

div#content table td {
	padding: 5px;
}

div#content table th {
	padding: 5px;
}

div#content table tr:nth-child(odd) td{
	background-color: #e2ddff;
}

ul#sortable {
	list-style-type:none;
	padding:0px;
}
